

.form-data{
    position: absolute;
    overflow-y: auto;
    background-color: #07070a;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 60%;
    width: 20%;
    left: 50%;
    display: none;
}

.form-container{
    width: 100%;
    height: 100%;
}

