.form-data{
    position: absolute;
    overflow-y: auto;
    background-color: #07070a;
    border: 1px solid #cccccca2;
    border-radius: 10px;
    height: 60%;
    width: 20%;
    left: 50%;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}

.cabecalho{
    display: flex;
    justify-content: flex-end;
}

.form-container{
    display: flex;
}

.select{
    width: 100%;
    display: flex;
    justify-content: center;
}



