

.BtnCircular{
    border: 1px solid #525050;
    background-color:  #3b3b4727;
    padding: 2px;
    border-radius: 100%;
    transition: background-color 0.3s ease, transform 0.1s linear;
}

.BtnCircular h1{
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
}

.BtnCircular:hover{
    background-color: #52505083
}

.BtnCircular:active{
    background-color: #e2dfdf83;
    transform: scale(1.1);
}